html{
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}
.container {
    text-align: center;
}
h2, p {
    text-align: left;
}
/**
*
* Navbar styles
*
**/
.navbar {
    background-color: #2b2b2b!important;
    color: #fff;
}
.navbar-brand img {
    width: 30px;
}
.navbar a:hover {
    color: #ffb500!important;
}
.login {
    color: #fff;
    font-size: 13px;
}
.login:hover {
    color: #ffb500;
    text-decoration: none;
}
/** Welcome message styles */
.welcome_message {
    margin: 30px 0 0 30px;
    font-family: tahoma;
    font-weight: bold;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/**
*
* Header styles
*
**/
.header_background {
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_title {width: 100%; text-align: center;}
.header_title img {width: 500px;padding-top: 100px;}
/**
*
* Homepage styles
*
**/
.sign_up {
    width: 100%;
    text-align: center;
    background-image: url('img/vip_background.png');
    background-repeat: no-repeat;
    background-color: #2b2b2b;
    color:#ffb500;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.sign_up a {
    color: #ffb500;
    text-decoration: none;
}
.rally {
    margin-top: 30px;
    display: inline-block!important;
    vertical-align: top;
}
.rally img {
    width: 550px;
}
.rally-info h2 {
    text-transform: uppercase;
}
.enter_rally {
    background-color: #2b2b2b;
    padding: 5px 10px 5px 10px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.enter_rally:hover {
    background-color: #000;
    color: #ffb500;
    text-decoration: none;
    border-bottom: 5px solid #ffb500;
}

/* JS Validation text style */
.help{
    color: red;
    font-weight: bold;
}
/**
*
* Footer styles
*
**/
.footer {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #2b2b2b;
    color: #a9a9a9;
    font-family: tahoma;
    font-size: 12px;
}
.footer p {
    text-align: center;
    text-transform: uppercase;
}
.footer_links {
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    margin: auto;
}
.footer_links a {
    color: #a9a9a9;
    text-decoration: none;
    text-transform: uppercase;
    font-family: tahoma;
}
.footer_links a:hover {
    color: #fff;
}
.fa:hover {
    color: #fff;
}

/**
*
* Media queries
*
 */

@media screen and (max-width: 500px) {
    .header_title img {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .col-7, .col-4 {
        width: 100%!important;
    }
}